<div class="section">
    <button mat-button class="control top-button" (click)="addUnit()"><mat-icon>playlist_add</mat-icon> Add Unit</button>

    <mat-menu #settMenu="matMenu">
        <ng-template matMenuContent let-vocable="vocable" let-index="index" let-unit="unit">
            <button mat-menu-item class="menu-button" (click)="updateVocable(vocable)">
                <mat-icon>edit</mat-icon> Edit
            </button>
            <button mat-menu-item class="menu-button" (click)="deleteVocable(vocable, index, unit)">
                <mat-icon>delete</mat-icon> Delete
            </button>
        </ng-template>
    </mat-menu>

    <mat-accordion>
        <mat-expansion-panel *ngFor="let unit of units; index as i">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{unit.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="unit-controls">
                <button mat-button class="control" [routerLink]="'/vocabulary-test/' + unit.id">
                    <mat-icon>playlist_play</mat-icon>
                </button>
                <button mat-button class="control" (click)="addVocable(unit)"><mat-icon>note_add</mat-icon></button>
                <button mat-button class="control" (click)="updateUnit(unit)"><mat-icon>edit</mat-icon></button>
                <button mat-button class="control" (click)="deleteUnit(unit, i)"><mat-icon>delete</mat-icon></button>
            </div>
            <div *ngIf="vocables.has(unit.id)" fxLayout="row wrap">
                <div *ngFor="let vocable of vocables.get(unit.id); index as n" fxFlex.gt-sm="33.333333333" fxFlex.lt-md="100">
                    <mat-card class="vocable-card">
                        <div class="vocable-text">
                            <p>{{vocable.firstMeaning}}</p>
                            <p>{{vocable.secondMeaning}}</p>
                        </div>
                        <div class="vocable-controls">
                            <button mat-icon-button class="settings-trigger"
                                    [matMenuTriggerFor]="settMenu"
                                    [matMenuTriggerData]="{vocable: vocable, index: n, unit: unit}">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>
                    </mat-card>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
