/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto,
    "Helvetica Neue", sans-serif;
}

.section {
    max-width: 1100px;
    margin: auto;
    .control {
        border: 1px solid;
    }

    .top-button {
        margin-bottom: 16px;
        margin-right: 10px;
    }

    .bot-button {
        margin-top: 16px;
    }
}

.full-width-input {
    width: 100%;
}
